<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>

    <hr>
    <h1><%= title %></h1>
    <p><%= about %></p>
    <hr>

    <main id="contenedor-post">
        <div id="altaProducts-container" class="crudForm-container">
            <h2>Alta producto</h2>

            <form id="altaProducts-form" autocomplete="off">

                <label for="nombrePrdoc">Nombre</label>
                <input type="text" name="nombre" id="nombrePrdoc" required>
                
                <label for="descripcionProd">Descripcion</label>
                <input type="text" name="descripcion" id="descripcionProd" required>
                
                <label for="precioProd">Precio</label>
                <input type="number" name="precio" id="precioProd" required>

                <label for="stockProd">stock</label>
                <input type="number" name="stock" id="stockProd" required>

                <label for="imagenProd">Imagen</label>
                <input type="text" name="img" id="imagenProd" required>

                <label for="categoryProd">Categoria</label>
                <select name="categoria" id="categoryProd" required>
                    <option value="ps4">PS4</option>
                    <option value="ps5">PS5</option>
                </select>

                <input type="submit" value="Crear producto">
            </form>
        </div>

    </main>

    <script>
        const url = "http://localhost:3000/api";
        let altaProducts_form = document.getElementById("altaProducts-form");

        altaProducts_form.addEventListener("submit", async(event) => {

            event.preventDefault(); // Evitamos el envio por defecto del formulario

            let formData = new FormData(event.target); // Obtenemos la data del formulario

            let data = Object.fromEntries(formData.entries()); // Convertimos a objeto JS nuestro objeto formulario
            console.log(data); 
            
            // Validamos datos previamente en el cliente
            if(!data.nombre || !data.descripcion || !data.precio || !data.stock || !data.img || !data.categoria) {
                alert("Todos los campos son obligatorios!");
                return;
            }

            try {
                let response = await fetch(`${url}/productos`, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(data)
                });

                if(response.ok) {
                    console.log(response);

                    let result = await response.json();
                    console.log(result.message);
                    alert(result.message);

                } else {
                    let error = await response.json();
                    console.log("Error: ", error);
                }

            } catch (error) {
                console.log("Error al enviar los datos: ", error);
                alert("Error al enviar la solicitud");
            }

        })
    </script>

<%- include("partials/footer.ejs") %>