<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>

    <hr>
        <h1><%= title %></h1>
    <hr>

    <main id="contenedor-get">
        <section class="seccion-productos">
        <div class="titular">
        <div class="filtros">
        <p>Ordenar: </p>
        </div>
        </div>

        <form>
        <label for="orden">Ordenar por nombre:</label>
        <select name="orden" id="orden" onchange="this.form.submit()">
            <option value="az" <%= orden === 'az' ? 'selected' : '' %>>A-Z</option>
            <option value="za" <%= orden === 'za' ? 'selected' : '' %>>Z-A</option>
        </select>
        </form>

        <div id="productos-container">
            <ul id="productos-lista">
  
                <% productos.forEach(prod => {  %>
  
                    <li class="li-listados productos-listados">
                        <img src=" <%= prod.img %> " alt=" <%= prod.nombre %> " class="img-listados">
                        <ul>
                            <h3><%= prod.nombre %></h3>
                            <p><%= prod.descripcion %></p>
                            <p><strong>Categoria: </strong><%= prod.categoria %></p>
                            <p><strong>$<%= prod.precio %></strong></p>
                        </ul>
                    </li> 
    
                <% }) %>
            </ul>
        </div>
        </section>
    </main>

<%- include("partials/footer.ejs") %>