<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>

    <hr>
        <h1><%= title %></h1>
        <p><%= about %></p>
    <hr>
    <main>
        <section id="ventas-container">
            <ul id="ventas-lista">
                <% if(ventas && ventas.length > 0) { %>
                    <% ventas.forEach(venta => { %>
                        <li class="li-listados ventas-listados">
                            <h2>Venta ID: <%= venta.id_ventas %></h2>
                            <p><strong>Usuario: </strong><%= venta.usuario %></p>
                            <p><strong>Fecha: </strong><%= venta.fecha_creacion.toLocaleString() %></p>
                            <p><strong>Total: </strong>$<%= venta.total %></p>
                        </li>
                    <% }) %>
                <% } else { %>
                    <p>No hay ventas registradas.</p>
                <% } %>

            </ul>
        </section>
    </main>


<%- include("partials/footer.ejs") %>